RewriteEngine On

# RewriteCond %{HTTPS} !=on
# # # RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
# # RewriteRule ^/?(.*) http://%{SERVER_NAME}/$1 [R,L]


# # # RewriteCond %{HTTP_HOST} ^www.bulat2005.ru [NC]
# # # RewriteRule ^(.*)$ https://bulat2005.ru [R=301,L]

# # # RewriteRule ^index\.php$ https://bulat2005.ru/ [L,R=301]

# RewriteCond %{HTTP_HOST} ^www.siberia-dev [NC]
# # RewriteRule ^(.*)$ https://siberia-dev [R=301,L]

# RewriteRule ^index\.php$ https://siberia-dev/ [L,R=301]

# RewriteCond %{REQUEST_URI} ^(.*)/index.php$
# RewriteRule ^(.*)$ %1/ [R=301,L]

# # # ErrorDocument 404 https://bulat2005.ru/404.php

# ErrorDocument 404 https://siberia-dev/404.php